
@{
    ViewBag.Title = "Order Status";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order Status</h2>
<h4>You can track the progress of your work orders here. The status of your work order is: </h4>