
@{
    ViewBag.Title = "Quote";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order Cost</h2>
<h4>
    While we always seek to give the most accurate quote possible up front, the cost of your order is subject to change as different results and scenarios
    arise during testing. This page provides you with live updates on the pricing of your order as our team performs assay tests. As soon as we become 
    aware of price changes, we post them here. You know the cost from the moment that we know it.
</h4>

<h2>Your order is currently expected to cost: @ViewBag.Output</h2>
