
@{
    ViewBag.Title = "TestResults";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="row hero-image" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dTGsD6G/test-tubes-with-colored-reagents-beaker-and-flask-with-blue-reagent-in-the-chemical-laboratory-blurred-background-filmed-on-telephoto-lens_bvoipar__F0000.png)"></div>
<h2>Test Results</h2>
<h4>Your Results are available below</h4>
<div class="col-md-4">
   <input type="button" value="Download Test Results PDF" class="submit-button"/>
</div>
<div class="col-md-4">
    <input type="button" value="Excel File Results" class="submit-button"/>
</div>
<div class="col-md-4">
    <input type="button" value="Text File Test Results" class="submit-button"/>
</div>
