
@{
    ViewBag.Title = "TestResults";
}

<div class="row hero-image" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dTGsD6G/test-tubes-with-colored-reagents-beaker-and-flask-with-blue-reagent-in-the-chemical-laboratory-blurred-background-filmed-on-telephoto-lens_bvoipar__F0000.png)"></div>
<h2>TestResults</h2>
<h4>Your Results are available below</h4>
<div class="col-md-4">
   <input type="button" value="Excel Format" class="submit-button"/>
</div>
<div class="col-md-4">
    <input type="button" value="Tabbed document format" class="submit-button"/>
</div>
<div class="col-md-4">
    <input type="button" value="Txt file formart" class="submit-button"/>
</div>
