
@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>
<div class="col-md-6">
    Work Orders
    <a href="@Url.Action("WorkOrders", "Singapore")"><img src="~/Content/Work_Orders_Thing.jpg" class="singapore" /></a>
</div>
<div class="col-md-6">
    Quote Requests
    <a href="@Url.Action("QuoteRequests", "Singapore")"><img src="~/Content/quote_request.jpg" class="singapore"></a>
</div>




