@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SingaporeLayout.cshtml";
}


<h2>Singapore Lab Overview</h2>
<div class="col-md-6">
    <h3>Work Orders</h3>
    <a href="@Url.Action("WorkOrders", "Singapore")"><img src="~/Content/Work_Orders_Thing.jpg" class="square-tile" /></a>
</div>
<div class="col-md-6">
    <h3>Quote Requests</h3>
    <a href="@Url.Action("QuoteRequests", "Singapore")"><img src="~/Content/quote_request.jpg" class="square-tile"></a>
</div>
