body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background: rgb(0,36,189);
    background: linear-gradient(36deg, rgba(0,36,189,1) 0%, rgba(55,120,255,1) 100%);
    border: none;
}

.navbar-nobackground {
    background: none;
    background: repeating-linear-gradient(36deg, rgb(76, 255, 0) 0%, rgb(255, 216, 0) 100%);
}
