
<div class="row hero-image" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dTGsD6G/test-tubes-with-colored-reagents-beaker-and-flask-with-blue-reagent-in-the-chemical-laboratory-blurred-background-filmed-on-telephoto-lens_bvoipar__F0000.png)"></div>
<h2>About</h2>
<p>Northwest Labs has provided quality chemical testing for over 20 years. We know that quality is most important for all of our customers. For a custom quote @Html.ActionLink("Contact Us", "Contact") and we would love to get you started in our amazing process.</p>

<img src="~/Content/chemical_guy.jpg" id="chemical_guy"/>
