@{
    ViewBag.Title = "Contact";
}
<div class="row hero-image" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dTGsD6G/test-tubes-with-colored-reagents-beaker-and-flask-with-blue-reagent-in-the-chemical-laboratory-blurred-background-filmed-on-telephoto-lens_bvoipar__F0000.png)"></div>
<div class="row">
    <h3>Contact us for a free quote!</h3>
    <h4>Please call us at <strong><u>1-800-555-5227</u></strong>, or send an email to <a href=""><strong><u>test@northwest.com</u></strong></a>.</h4>
</div>