@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <h3>Contact us for a free quote!</h3>
    <h4>Please call us at <strong><u>1-800-555-5227</u></strong>, or send an email to <a href=""><strong><u>test@northwest.com</u></strong></a>.</h4>
</div>