@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p class="lead">
            Get a free quote <a href="~/Home/Contact">here</a>
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>