@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p class="lead">
            <button class="btn success" id="quote" onclick="~/Home/Contact">Get a free quote!</button>
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>