@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p class="lead">
            @Html.ActionLink("Create A New Quote", "Contact", "Home", null, new { @class = "btn success" })
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>