@{
    ViewBag.Title = "Home Page";
}
<div class="row hero-image" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dTGsD6G/test-tubes-with-colored-reagents-beaker-and-flask-with-blue-reagent-in-the-chemical-laboratory-blurred-background-filmed-on-telephoto-lens_bvoipar__F0000.png)">
</div>
<h1>Welcome to Northwest Labs</h1>
<h3>We are here to serve you!</h3>
<div class="col-md-4">
</div>
<div class="col-md-4">
    <p class="lead">
        @Html.ActionLink("Create A New Quote", "Contact", "Home", null, new { @class = "btn success" })
    </p>
</div>

