@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p class="lead">
            <a href="~/Home/Contact">Get a free quote!</a>
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>