
@{
    ViewBag.Title = "Login";
}
<div class="row hero-image" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dTGsD6G/test-tubes-with-colored-reagents-beaker-and-flask-with-blue-reagent-in-the-chemical-laboratory-blurred-background-filmed-on-telephoto-lens_bvoipar__F0000.png)"></div>
<h2>Login</h2>
@using (Html.BeginForm())
{
<span id="login-text">@Html.Raw("Username: ")</span> <input type="text" placeholder="Username" name="username" /> <br />

<span id="login-text">@Html.Raw("Password: ")</span> <input type="password" placeholder="Password" name="password" />

    <h4 style="color: red;">@Html.Raw(ViewBag.LoginError)</h4>

    <input type="submit" value="Submit" class="submit-button" />
}
