
@{
    ViewBag.Title = "OwenWilson";
}

<h4>Owen Freaking Wilson Saying Wow</h4>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Owen_Wilson_Cannes_2011.jpg/220px-Owen_Wilson_Cannes_2011.jpg" id="owenwilson"/>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/OwenWilsonMay07.jpg/170px-OwenWilsonMay07.jpg" id="owenwilson"/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6mqOq8d9dWmbH6F034swZ2Ksik1oYHESo9feICkPLDIk6N_5vWw" id="owenwilson"/>
<img src="https://i.ytimg.com/vi/cE8hO79bsOc/maxresdefault.jpg" id="owenwilson"/>
<img src="https://www.expressandstar.com/resizer/VfSq6L135gJaHEHaWy2mwWiq3Tw=/1000x0/filters:quality(100)/arc-anglerfish-arc2-prod-expressandstar-mna.s3.amazonaws.com/public/QS5MS5QISFDYLHUQRHMVUTOHQQ.jpg" id="owenwilson"/>


<audio controls loop autoplay style="height: 300px;">
    <source src="~/Content/Wow_3.mp3" type="audio/mpeg">
</audio>
