
<h2>Seattle Portal Overview</h2>
<div class="col-md-6">
    <h3>Create Orders</h3>
    <a href="@Url.Action("Create", "Orders")"><img src="~/Content/create-order.jpg" class="square-tile" /></a>
</div>
<div class="col-md-6">
    <h3>View Past Orders</h3>
    <a href="@Url.Action("Index", "Orders")"><img src="~/Content/view-past-orders.jpg" class="square-tile"></a>
</div>