<br />
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p class="lead">
            @Html.ActionLink("Create A New Quote", "Create", "Orders", null, new { @class = "btn btn-primary btn-large" })
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>